# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Environment variables
.env

# VS Code settings
.vscode/

# PyCharm project files
.idea/

# Mac system files
.DS_Store

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook files
.ipynb_checkpoints

# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
MANIFEST

# Test results
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
